@model ProductCreateEditVM
@{
    string textAction = "Ajouter";
    string formAction = "Create";

    if (Model.Product.Id > 0)
    {
        textAction = "Modifier";
        formAction = "Edit";
    }

    ViewData["Title"] = textAction + " un produit";
}

<div id="product-createedit-page">
    <div class="row">
        <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
            <div class="page-title">
                <h2>@textAction un produit</h2>
            </div>

            <div class="form-section">
                <form asp-action="@formAction">
                    <input type="hidden" asp-for="Product.Id" />

                    <div class="form-horizontal">
                        <hr />
                        <div class="form-group row">
                            <label asp-for="Product.Code" class="col-form-label col-md-3"></label>
                            <div class="col-md-9">
                                <input asp-for="Product.Code" class="form-control" />
                                <span asp-validation-for="Product.Code" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Product.Name" class="col-form-label col-md-3"></label>
                            <div class="col-md-9">
                                <input asp-for="Product.Name" class="form-control" />
                                <span asp-validation-for="Product.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Product.CategoryId" class="col-form-label col-md-3"></label>
                            <div class="col-md-9">
                                <select asp-for="Product.CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control">
                                    <option value="0"></option>
                                </select>
                                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Product.QuantityInStock" class="col-form-label col-md-3"></label>
                            <div class="col-md-9">
                                <input asp-for="Product.QuantityInStock" class="form-control" />
                                <span asp-validation-for="Product.QuantityInStock" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="text-center">
                        <input type="submit" value="@textAction" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="links">
                <a asp-action="List">Retour à la liste des produits</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
