@model Reservation
@{
    ViewData["Title"] = "Liste des produits";


}

<div id="home-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title" style="text-align:center">
                <h2>Votre réservation</h2>
            </div>
        </div>
        <div style="text-align:center">
            <form asp-action="Create">
                <label for="Nom">Nom</label><br />
                <input type="text" asp-for="Nom">
                <br /><br />
                <label for="Courriel">Courriel</label><br />
                <input type="text" asp-for="Courriel">
                <br /><br />
                <label for="Nombre">Nombre</label><br />
                <input type="spiner" asp-for="Nombre">
                <br /><br />
                <label for="Date">Date</label><br />
                <input type="Date" asp-for="Date">
                <br /><br />
                <label for="ChoixMenu">Choix de menu</label><br />
                <input type="number" asp-for="ProduitId">
                <br /><br />
                <input type="submit" value="Confirmer la réservation"/>
            </form>
        </div>
    </div>
</div>
