

<div id="home-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title" style="text-align:center">
                <h2>Votre réservation</h2>
            </div>
        </div>
        <form asp-action="Reservation">
            <label for="Nom">Nom</label><br/>
            <input type="text" name="Nom">
            </br></br>
            <label for="Courriel">Courriel</label><br/>
            <input type="text" name="Courriel">
            </br></br>
            <label for="Nombre">Nombre</label><br/>
            <input type="spiner" name="Nombre">
            </br></br>
            <label for="Date">Date</label><br/>
            <input type="Date" name="Date">
            </br></br>
            <label for="ChoixMenu">Choix de menu</label><br/>
            <input type="text" name="ChoixMenu">
            </br></br>
            <input type="submit" value="Confirmer la réservation"  ></input>
        </form>
        

            
        </div>
    </div>
</div>
