@model Produit
@{
    ViewData["Title"] = "Liste des produits";
}

<div id="produit-list-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>Modifier un choix de menu</h2>
                
                <form asp-action="Edit">
                    <label for="desc">Description</label>
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Nom"/>
                    <input type="submit"/>
                </form>
            </div>
           
        </div>
    </div>
</div>