@model ProductCreateEditVM
@{
    ViewData["Title"] = "Liste des produits";
}

<div id="produit-list-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>Modifier un choix de menu</h2>
                
                <form asp-action="Create">
                    <label asp-for="Produit.Nom"></label>
                    <input type="hidden" asp-for="Produit.Id" />
                    <input asp-for="Produit.Nom" />
                    
                    <span asp-validation-for="Produit.Nom" class="text-danger"></span>
                    <input type="submit"/>
                </form>
            </div>
           
        </div>
    </div>
</div>