@model MenuListVM
@{
    ViewData["Title"] = "Liste des produits";
}

<div id="produit-list-page">
    <div class="row">
        <div class="col-12">
            <div class="page-title">
                <h2>Liste des choix de menu</h2>
            </div>
            <table class="table table-sm table-bordered table-striped table-hover">
                <tr>
                    <!--
                    <th>Code</th>
                    <th>Nom du produit</th>
                    <th>Catégorie</th>
                    <th>Quantité en stock</th>
                    -->
                    <!-- Permet d'utiliser l'attribut Display(Name="...") de propriété du modèle -->
                    <!-- Permet de gérer l'affichage du modèle à un seul endroit -->

                    
                    <th>@Html.DisplayNameFor(model => model.Produits[0].Nom)</th>
                    
                    <th>Actions</th>
                </tr>
                @if (Model.Produits.Count > 0)
                {
                    foreach (Produit produit in Model.Produits)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => produit.Nom)
                            </td>

                            <td >
                                <div style="text-align:center; display:inline-flex">
                                <a asp-area="Admin" asp-controller="MenuChoice" asp-action="Edit" asp-route-id="@produit.Id"><i class="fa-regular fa-pen-to-square"></i></a><p> | </p>
                                <a asp-area="Admin" asp-controller="MenuChoice" asp-action="Delete" asp-route-id="@produit.Id"><i class="fa-solid fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Aucun produit trouvé.</td>
                    </tr>
                }
            </table>
            <div style="width:100%;text-align:center;">
                <a asp-action="Create">
                    Ajouter un choix de menu
                </a>
            </div>
        </div>
    </div>
</div>
